.collectibles_001{background-position:-32px -0px;}
.collectibles_002{background-position:-64px -0px;}
.collectibles_003{background-position:-96px -0px;}
.collectibles_004{background-position:-128px -0px;}
.collectibles_005{background-position:-160px -0px;}
.collectibles_006{background-position:-192px -0px;}
.collectibles_007{background-position:-224px -0px;}
.collectibles_008{background-position:-256px -0px;}
.collectibles_009{background-position:-288px -0px;}
.collectibles_010{background-position:-320px -0px;}
.collectibles_011{background-position:-352px -0px;}
.collectibles_012{background-position:-384px -0px;}
.collectibles_013{background-position:-416px -0px;}
.collectibles_014{background-position:-448px -0px;}
.collectibles_015{background-position:-480px -0px;}
.collectibles_016{background-position:-512px -0px;}
.collectibles_017{background-position:-544px -0px;}
.collectibles_018{background-position:-576px -0px;}
.collectibles_019{background-position:-608px -0px;}
.collectibles_020{background-position:-0px -32px;}
.collectibles_021{background-position:-32px -32px;}
.collectibles_022{background-position:-64px -32px;}
.collectibles_023{background-position:-96px -32px;}
.collectibles_024{background-position:-128px -32px;}
.collectibles_025{background-position:-160px -32px;}
.collectibles_026{background-position:-192px -32px;}
.collectibles_027{background-position:-224px -32px;}
.collectibles_028{background-position:-256px -32px;}
.collectibles_029{background-position:-288px -32px;}
.collectibles_030{background-position:-320px -32px;}
.collectibles_031{background-position:-352px -32px;}
.collectibles_032{background-position:-384px -32px;}
.collectibles_033{background-position:-416px -32px;}
.collectibles_034{background-position:-448px -32px;}
.collectibles_035{background-position:-480px -32px;}
.collectibles_036{background-position:-512px -32px;}
.collectibles_037{background-position:-544px -32px;}
.collectibles_038{background-position:-576px -32px;}
.collectibles_039{background-position:-608px -32px;}
.collectibles_040{background-position:-0px -64px;}
.collectibles_041{background-position:-32px -64px;}
.collectibles_042{background-position:-64px -64px;}
.collectibles_044{background-position:-96px -64px;}
.collectibles_045{background-position:-128px -64px;}
.collectibles_046{background-position:-160px -64px;}
.collectibles_047{background-position:-192px -64px;}
.collectibles_048{background-position:-224px -64px;}
.collectibles_049{background-position:-256px -64px;}
.collectibles_050{background-position:-288px -64px;}
.collectibles_051{background-position:-320px -64px;}
.collectibles_052{background-position:-352px -64px;}
.collectibles_053{background-position:-384px -64px;}
.collectibles_054{background-position:-416px -64px;}
.collectibles_055{background-position:-448px -64px;}
.collectibles_056{background-position:-480px -64px;}
.collectibles_057{background-position:-512px -64px;}
.collectibles_058{background-position:-544px -64px;}
.collectibles_059{background-position:-576px -64px;}
.collectibles_060{background-position:-608px -64px;}
.collectibles_062{background-position:-0px -96px;}
.collectibles_063{background-position:-32px -96px;}
.collectibles_064{background-position:-64px -96px;}
.collectibles_065{background-position:-96px -96px;}
.collectibles_066{background-position:-128px -96px;}
.collectibles_067{background-position:-160px -96px;}
.collectibles_068{background-position:-192px -96px;}
.collectibles_069{background-position:-224px -96px;}
.collectibles_070{background-position:-256px -96px;}
.collectibles_071{background-position:-288px -96px;}
.collectibles_072{background-position:-320px -96px;}
.collectibles_073{background-position:-352px -96px;}
.collectibles_074{background-position:-384px -96px;}
.collectibles_075{background-position:-416px -96px;}
.collectibles_076{background-position:-448px -96px;}
.collectibles_077{background-position:-480px -96px;}
.collectibles_078{background-position:-512px -96px;}
.collectibles_079{background-position:-544px -96px;}
.collectibles_080{background-position:-576px -96px;}
.collectibles_081{background-position:-608px -96px;}
.collectibles_082{background-position:-0px -128px;}
.collectibles_083{background-position:-32px -128px;}
.collectibles_084{background-position:-64px -128px;}
.collectibles_085{background-position:-96px -128px;}
.collectibles_086{background-position:-128px -128px;}
.collectibles_087{background-position:-160px -128px;}
.collectibles_088{background-position:-192px -128px;}
.collectibles_089{background-position:-224px -128px;}
.collectibles_090{background-position:-256px -128px;}
.collectibles_091{background-position:-288px -128px;}
.collectibles_092{background-position:-320px -128px;}
.collectibles_093{background-position:-352px -128px;}
.collectibles_094{background-position:-384px -128px;}
.collectibles_095{background-position:-416px -128px;}
.collectibles_096{background-position:-448px -128px;}
.collectibles_097{background-position:-480px -128px;}
.collectibles_098{background-position:-512px -128px;}
.collectibles_099{background-position:-544px -128px;}
.collectibles_100{background-position:-576px -128px;}
.collectibles_101{background-position:-608px -128px;}
.collectibles_102{background-position:-0px -160px;}
.collectibles_103{background-position:-32px -160px;}
.collectibles_104{background-position:-64px -160px;}
.collectibles_105{background-position:-96px -160px;}
.collectibles_106{background-position:-128px -160px;}
.collectibles_107{background-position:-160px -160px;}
.collectibles_108{background-position:-192px -160px;}
.collectibles_109{background-position:-224px -160px;}
.collectibles_110{background-position:-256px -160px;}
.collectibles_111{background-position:-288px -160px;}
.collectibles_112{background-position:-320px -160px;}
.collectibles_113{background-position:-352px -160px;}
.collectibles_114{background-position:-384px -160px;}
.collectibles_115{background-position:-416px -160px;}
.collectibles_116{background-position:-448px -160px;}
.collectibles_117{background-position:-480px -160px;}
.collectibles_118{background-position:-512px -160px;}
.collectibles_119{background-position:-544px -160px;}
.collectibles_120{background-position:-576px -160px;}
.collectibles_121{background-position:-608px -160px;}
.collectibles_122{background-position:-0px -192px;}
.collectibles_123{background-position:-32px -192px;}
.collectibles_124{background-position:-64px -192px;}
.collectibles_125{background-position:-96px -192px;}
.collectibles_126{background-position:-128px -192px;}
.collectibles_127{background-position:-160px -192px;}
.collectibles_128{background-position:-192px -192px;}
.collectibles_129{background-position:-224px -192px;}
.collectibles_130{background-position:-256px -192px;}
.collectibles_131{background-position:-288px -192px;}
.collectibles_132{background-position:-320px -192px;}
.collectibles_133{background-position:-352px -192px;}
.collectibles_134{background-position:-384px -192px;}
.collectibles_135{background-position:-416px -192px;}
.collectibles_136{background-position:-448px -192px;}
.collectibles_137{background-position:-480px -192px;}
.collectibles_138{background-position:-512px -192px;}
.collectibles_139{background-position:-544px -192px;}
.collectibles_140{background-position:-576px -192px;}
.collectibles_141{background-position:-608px -192px;}
.collectibles_142{background-position:-0px -224px;}
.collectibles_143{background-position:-32px -224px;}
.collectibles_144{background-position:-64px -224px;}
.collectibles_145{background-position:-96px -224px;}
.collectibles_146{background-position:-128px -224px;}
.collectibles_147{background-position:-160px -224px;}
.collectibles_148{background-position:-192px -224px;}
.collectibles_149{background-position:-224px -224px;}
.collectibles_150{background-position:-256px -224px;}
.collectibles_151{background-position:-288px -224px;}
.collectibles_152{background-position:-320px -224px;}
.collectibles_153{background-position:-352px -224px;}
.collectibles_154{background-position:-384px -224px;}
.collectibles_155{background-position:-416px -224px;}
.collectibles_156{background-position:-448px -224px;}
.collectibles_157{background-position:-480px -224px;}
.collectibles_158{background-position:-512px -224px;}
.collectibles_159{background-position:-544px -224px;}
.collectibles_160{background-position:-576px -224px;}
.collectibles_161{background-position:-608px -224px;}
.collectibles_162{background-position:-0px -256px;}
.collectibles_163{background-position:-32px -256px;}
.collectibles_164{background-position:-64px -256px;}
.collectibles_165{background-position:-96px -256px;}
.collectibles_166{background-position:-128px -256px;}
.collectibles_167{background-position:-160px -256px;}
.collectibles_168{background-position:-192px -256px;}
.collectibles_169{background-position:-224px -256px;}
.collectibles_170{background-position:-256px -256px;}
.collectibles_171{background-position:-288px -256px;}
.collectibles_172{background-position:-320px -256px;}
.collectibles_173{background-position:-352px -256px;}
.collectibles_174{background-position:-384px -256px;}
.collectibles_175{background-position:-416px -256px;}
.collectibles_176{background-position:-448px -256px;}
.collectibles_177{background-position:-480px -256px;}
.collectibles_178{background-position:-512px -256px;}
.collectibles_179{background-position:-544px -256px;}
.collectibles_180{background-position:-576px -256px;}
.collectibles_181{background-position:-608px -256px;}
.collectibles_182{background-position:-0px -288px;}
.collectibles_183{background-position:-32px -288px;}
.collectibles_184{background-position:-64px -288px;}
.collectibles_185{background-position:-96px -288px;}
.collectibles_186{background-position:-128px -288px;}
.collectibles_187{background-position:-160px -288px;}
.collectibles_188{background-position:-192px -288px;}
.collectibles_189{background-position:-224px -288px;}
.collectibles_190{background-position:-256px -288px;}
.collectibles_191{background-position:-288px -288px;}
.collectibles_192{background-position:-320px -288px;}
.collectibles_193{background-position:-352px -288px;}
.collectibles_194{background-position:-384px -288px;}
.collectibles_195{background-position:-416px -288px;}
.collectibles_196{background-position:-448px -288px;}
.collectibles_197{background-position:-480px -288px;}
.collectibles_198{background-position:-512px -288px;}
.collectibles_199{background-position:-544px -288px;}
.collectibles_200{background-position:-576px -288px;}
.collectibles_201{background-position:-608px -288px;}
.collectibles_202{background-position:-0px -320px;}
.collectibles_203{background-position:-32px -320px;}
.collectibles_204{background-position:-64px -320px;}
.collectibles_205{background-position:-96px -320px;}
.collectibles_206{background-position:-128px -320px;}
.collectibles_207{background-position:-160px -320px;}
.collectibles_208{background-position:-192px -320px;}
.collectibles_209{background-position:-224px -320px;}
.collectibles_210{background-position:-256px -320px;}
.collectibles_211{background-position:-288px -320px;}
.collectibles_212{background-position:-320px -320px;}
.collectibles_213{background-position:-352px -320px;}
.collectibles_214{background-position:-384px -320px;}
.collectibles_215{background-position:-416px -320px;}
.collectibles_216{background-position:-448px -320px;}
.collectibles_217{background-position:-480px -320px;}
.collectibles_218{background-position:-512px -320px;}
.collectibles_219{background-position:-544px -320px;}
.collectibles_220{background-position:-576px -320px;}
.collectibles_221{background-position:-608px -320px;}
.collectibles_222{background-position:-0px -352px;}
.collectibles_223{background-position:-32px -352px;}
.collectibles_224{background-position:-64px -352px;}
.collectibles_225{background-position:-96px -352px;}
.collectibles_226{background-position:-128px -352px;}
.collectibles_227{background-position:-160px -352px;}
.collectibles_228{background-position:-192px -352px;}
.collectibles_229{background-position:-224px -352px;}
.collectibles_230{background-position:-256px -352px;}
.collectibles_231{background-position:-288px -352px;}
.collectibles_232{background-position:-320px -352px;}
.collectibles_233{background-position:-352px -352px;}
.collectibles_234{background-position:-384px -352px;}
.collectibles_236{background-position:-416px -352px;}
.collectibles_237{background-position:-448px -352px;}
.collectibles_238{background-position:-480px -352px;}
.collectibles_239{background-position:-512px -352px;}
.collectibles_240{background-position:-544px -352px;}
.collectibles_241{background-position:-576px -352px;}
.collectibles_242{background-position:-608px -352px;}
.collectibles_243{background-position:-0px -384px;}
.collectibles_244{background-position:-32px -384px;}
.collectibles_245{background-position:-64px -384px;}
.collectibles_246{background-position:-96px -384px;}
.collectibles_247{background-position:-128px -384px;}
.collectibles_248{background-position:-160px -384px;}
.collectibles_249{background-position:-192px -384px;}
.collectibles_250{background-position:-224px -384px;}
.collectibles_251{background-position:-256px -384px;}
.collectibles_252{background-position:-288px -384px;}
.collectibles_253{background-position:-320px -384px;}
.collectibles_254{background-position:-352px -384px;}
.collectibles_255{background-position:-384px -384px;}
.collectibles_256{background-position:-416px -384px;}
.collectibles_257{background-position:-448px -384px;}
.collectibles_258{background-position:-480px -384px;}
.collectibles_259{background-position:-512px -384px;}
.collectibles_260{background-position:-544px -384px;}
.collectibles_261{background-position:-576px -384px;}
.collectibles_262{background-position:-608px -384px;}
.collectibles_263{background-position:-0px -416px;}
.collectibles_264{background-position:-32px -416px;}
.collectibles_265{background-position:-64px -416px;}
.collectibles_266{background-position:-96px -416px;}
.collectibles_267{background-position:-128px -416px;}
.collectibles_268{background-position:-160px -416px;}
.collectibles_269{background-position:-192px -416px;}
.collectibles_270{background-position:-224px -416px;}
.collectibles_271{background-position:-256px -416px;}
.collectibles_272{background-position:-288px -416px;}
.collectibles_273{background-position:-320px -416px;}
.collectibles_274{background-position:-352px -416px;}
.collectibles_275{background-position:-384px -416px;}
.collectibles_276{background-position:-416px -416px;}
.collectibles_277{background-position:-448px -416px;}
.collectibles_278{background-position:-480px -416px;}
.collectibles_279{background-position:-512px -416px;}
.collectibles_280{background-position:-544px -416px;}
.collectibles_281{background-position:-576px -416px;}
.collectibles_282{background-position:-608px -416px;}
.collectibles_283{background-position:-0px -448px;}
.collectibles_284{background-position:-32px -448px;}
.collectibles_285{background-position:-64px -448px;}
.collectibles_286{background-position:-96px -448px;}
.collectibles_287{background-position:-128px -448px;}
.collectibles_288{background-position:-160px -448px;}
.collectibles_289{background-position:-192px -448px;}
.collectibles_290{background-position:-224px -448px;}
.collectibles_291{background-position:-256px -448px;}
.collectibles_292{background-position:-288px -448px;}
.collectibles_293{background-position:-320px -448px;}
.collectibles_294{background-position:-352px -448px;}
.collectibles_295{background-position:-384px -448px;}
.collectibles_296{background-position:-416px -448px;}
.collectibles_297{background-position:-448px -448px;}
.collectibles_298{background-position:-480px -448px;}
.collectibles_299{background-position:-512px -448px;}
.collectibles_300{background-position:-544px -448px;}
.collectibles_301{background-position:-576px -448px;}
.collectibles_302{background-position:-608px -448px;}
.collectibles_303{background-position:-0px -480px;}
.collectibles_304{background-position:-32px -480px;}
.collectibles_305{background-position:-64px -480px;}
.collectibles_306{background-position:-96px -480px;}
.collectibles_307{background-position:-128px -480px;}
.collectibles_308{background-position:-160px -480px;}
.collectibles_309{background-position:-192px -480px;}
.collectibles_310{background-position:-224px -480px;}
.collectibles_311{background-position:-256px -480px;}
.collectibles_312{background-position:-288px -480px;}
.collectibles_313{background-position:-320px -480px;}
.collectibles_314{background-position:-352px -480px;}
.collectibles_315{background-position:-384px -480px;}
.collectibles_316{background-position:-416px -480px;}
.collectibles_317{background-position:-448px -480px;}
.collectibles_318{background-position:-480px -480px;}
.collectibles_319{background-position:-512px -480px;}
.collectibles_320{background-position:-544px -480px;}
.collectibles_321{background-position:-576px -480px;}
.collectibles_322{background-position:-608px -480px;}
.collectibles_323{background-position:-0px -512px;}
.collectibles_324{background-position:-32px -512px;}
.collectibles_325{background-position:-64px -512px;}
.collectibles_326{background-position:-96px -512px;}
.collectibles_327{background-position:-128px -512px;}
.collectibles_328{background-position:-160px -512px;}
.collectibles_329{background-position:-192px -512px;}
.collectibles_330{background-position:-224px -512px;}
.collectibles_331{background-position:-256px -512px;}
.collectibles_332{background-position:-288px -512px;}
.collectibles_333{background-position:-320px -512px;}
.collectibles_334{background-position:-352px -512px;}
.collectibles_335{background-position:-384px -512px;}
.collectibles_336{background-position:-416px -512px;}
.collectibles_337{background-position:-448px -512px;}
.collectibles_338{background-position:-480px -512px;}
.collectibles_339{background-position:-512px -512px;}
.collectibles_340{background-position:-544px -512px;}
.collectibles_341{background-position:-576px -512px;}
.collectibles_342{background-position:-608px -512px;}
.collectibles_343{background-position:-0px -544px;}
.collectibles_344{background-position:-32px -544px;}
.collectibles_345{background-position:-64px -544px;}
.collectibles_346{background-position:-96px -544px;}
.collectibles_347{background-position:-128px -544px;}
.collectibles_348{background-position:-160px -544px;}
.collectibles_349{background-position:-192px -544px;}
.collectibles_350{background-position:-224px -544px;}
.collectibles_351{background-position:-256px -544px;}
.collectibles_352{background-position:-288px -544px;}
.collectibles_353{background-position:-320px -544px;}
.collectibles_354{background-position:-352px -544px;}
.collectibles_355{background-position:-384px -544px;}
.collectibles_356{background-position:-416px -544px;}
.collectibles_357{background-position:-448px -544px;}
.collectibles_358{background-position:-480px -544px;}
.collectibles_359{background-position:-512px -544px;}
.collectibles_360{background-position:-544px -544px;}
.collectibles_361{background-position:-576px -544px;}
.collectibles_362{background-position:-608px -544px;}
.collectibles_363{background-position:-0px -576px;}
.collectibles_364{background-position:-32px -576px;}
.collectibles_365{background-position:-64px -576px;}
.collectibles_366{background-position:-96px -576px;}
.collectibles_367{background-position:-128px -576px;}
.collectibles_368{background-position:-160px -576px;}
.collectibles_369{background-position:-192px -576px;}
.collectibles_370{background-position:-224px -576px;}
.collectibles_371{background-position:-256px -576px;}
.collectibles_372{background-position:-288px -576px;}
.collectibles_373{background-position:-320px -576px;}
.collectibles_374{background-position:-352px -576px;}
.collectibles_375{background-position:-384px -576px;}
.collectibles_376{background-position:-416px -576px;}
.collectibles_377{background-position:-448px -576px;}
.collectibles_378{background-position:-480px -576px;}
.collectibles_379{background-position:-512px -576px;}
.collectibles_380{background-position:-544px -576px;}
.collectibles_381{background-position:-576px -576px;}
.collectibles_382{background-position:-608px -576px;}
.collectibles_383{background-position:-0px -608px;}
.collectibles_384{background-position:-32px -608px;}
.collectibles_385{background-position:-64px -608px;}
.collectibles_386{background-position:-96px -608px;}
.collectibles_387{background-position:-128px -608px;}
.collectibles_388{background-position:-160px -608px;}
.collectibles_389{background-position:-192px -608px;}
.collectibles_390{background-position:-224px -608px;}
.collectibles_391{background-position:-256px -608px;}
.collectibles_392{background-position:-288px -608px;}
.collectibles_393{background-position:-320px -608px;}
.collectibles_394{background-position:-352px -608px;}
.collectibles_395{background-position:-384px -608px;}
.collectibles_396{background-position:-416px -608px;}
.collectibles_397{background-position:-448px -608px;}
.collectibles_398{background-position:-480px -608px;}
.collectibles_399{background-position:-512px -608px;}
.collectibles_400{background-position:-544px -608px;}
.collectibles_401{background-position:-576px -608px;}
.collectibles_402{background-position:-608px -608px;}
.collectibles_403{background-position:-0px -640px;}
.collectibles_404{background-position:-32px -640px;}
.collectibles_405{background-position:-64px -640px;}
.collectibles_406{background-position:-96px -640px;}
.collectibles_407{background-position:-128px -640px;}
.collectibles_408{background-position:-160px -640px;}
.collectibles_409{background-position:-192px -640px;}
.collectibles_410{background-position:-224px -640px;}
.collectibles_411{background-position:-256px -640px;}
.collectibles_412{background-position:-288px -640px;}
.collectibles_413{background-position:-320px -640px;}
.collectibles_414{background-position:-352px -640px;}
.collectibles_415{background-position:-384px -640px;}
.collectibles_416{background-position:-416px -640px;}
.collectibles_417{background-position:-448px -640px;}
.collectibles_418{background-position:-480px -640px;}
.collectibles_419{background-position:-512px -640px;}
.collectibles_420{background-position:-544px -640px;}
.collectibles_421{background-position:-576px -640px;}
.collectibles_422{background-position:-608px -640px;}
.collectibles_423{background-position:-0px -672px;}
.collectibles_424{background-position:-32px -672px;}
.collectibles_425{background-position:-64px -672px;}
.collectibles_426{background-position:-96px -672px;}
.collectibles_427{background-position:-128px -672px;}
.collectibles_428{background-position:-160px -672px;}
.collectibles_429{background-position:-192px -672px;}
.collectibles_430{background-position:-224px -672px;}
.collectibles_431{background-position:-256px -672px;}
.collectibles_432{background-position:-288px -672px;}
.collectibles_433{background-position:-320px -672px;}
.collectibles_434{background-position:-352px -672px;}
.collectibles_435{background-position:-384px -672px;}
.collectibles_436{background-position:-416px -672px;}
.collectibles_437{background-position:-448px -672px;}
.collectibles_438{background-position:-480px -672px;}
.collectibles_439{background-position:-512px -672px;}
.collectibles_440{background-position:-544px -672px;}
.collectibles_441{background-position:-576px -672px;}
.collectibles_442{background-position:-608px -672px;}
.collectibles_443{background-position:-0px -704px;}
.collectibles_444{background-position:-32px -704px;}
.collectibles_445{background-position:-64px -704px;}
.collectibles_446{background-position:-96px -704px;}
.collectibles_447{background-position:-128px -704px;}
.collectibles_448{background-position:-160px -704px;}
.collectibles_449{background-position:-192px -704px;}
.collectibles_450{background-position:-224px -704px;}
.collectibles_451{background-position:-256px -704px;}
.collectibles_452{background-position:-288px -704px;}
.collectibles_453{background-position:-320px -704px;}
.collectibles_454{background-position:-352px -704px;}
.collectibles_455{background-position:-384px -704px;}
.collectibles_456{background-position:-416px -704px;}
.collectibles_457{background-position:-448px -704px;}
.collectibles_458{background-position:-480px -704px;}
.collectibles_459{background-position:-512px -704px;}
.collectibles_460{background-position:-544px -704px;}
.collectibles_461{background-position:-576px -704px;}
.collectibles_462{background-position:-608px -704px;}
.collectibles_463{background-position:-0px -736px;}
.collectibles_464{background-position:-32px -736px;}
.collectibles_465{background-position:-64px -736px;}
.collectibles_466{background-position:-96px -736px;}
.collectibles_467{background-position:-128px -736px;}
.collectibles_468{background-position:-160px -736px;}
.collectibles_469{background-position:-192px -736px;}
.collectibles_470{background-position:-224px -736px;}
.collectibles_471{background-position:-256px -736px;}
.collectibles_472{background-position:-288px -736px;}
.collectibles_473{background-position:-320px -736px;}
.collectibles_474{background-position:-352px -736px;}
.collectibles_475{background-position:-384px -736px;}
.collectibles_476{background-position:-416px -736px;}
.collectibles_477{background-position:-448px -736px;}
.collectibles_478{background-position:-480px -736px;}
.collectibles_479{background-position:-512px -736px;}
.collectibles_480{background-position:-544px -736px;}
.collectibles_481{background-position:-576px -736px;}
.collectibles_482{background-position:-608px -736px;}
.collectibles_483{background-position:-0px -768px;}
.collectibles_484{background-position:-32px -768px;}
.collectibles_485{background-position:-64px -768px;}
.collectibles_486{background-position:-96px -768px;}
.collectibles_487{background-position:-128px -768px;}
.collectibles_488{background-position:-160px -768px;}
.collectibles_489{background-position:-192px -768px;}
.collectibles_490{background-position:-224px -768px;}
.collectibles_491{background-position:-256px -768px;}
.collectibles_492{background-position:-288px -768px;}
.collectibles_493{background-position:-320px -768px;}
.collectibles_494{background-position:-352px -768px;}
.collectibles_495{background-position:-384px -768px;}
.collectibles_496{background-position:-416px -768px;}
.collectibles_497{background-position:-448px -768px;}
.collectibles_498{background-position:-480px -768px;}
.collectibles_499{background-position:-512px -768px;}
.collectibles_500{background-position:-544px -768px;}
.collectibles_501{background-position:-576px -768px;}
.collectibles_502{background-position:-608px -768px;}
.collectibles_503{background-position:-0px -800px;}
.collectibles_504{background-position:-32px -800px;}
.collectibles_505{background-position:-64px -800px;}
.collectibles_506{background-position:-96px -800px;}
.collectibles_507{background-position:-128px -800px;}
.collectibles_508{background-position:-160px -800px;}
.collectibles_509{background-position:-192px -800px;}
.collectibles_510{background-position:-224px -800px;}
.collectibles_511{background-position:-256px -800px;}
.collectibles_512{background-position:-288px -800px;}
.collectibles_513{background-position:-320px -800px;}
.collectibles_514{background-position:-352px -800px;}
.collectibles_515{background-position:-384px -800px;}
.collectibles_516{background-position:-416px -800px;}
.collectibles_517{background-position:-448px -800px;}
.collectibles_518{background-position:-480px -800px;}
.collectibles_519{background-position:-512px -800px;}
.collectibles_520{background-position:-544px -800px;}
.collectibles_521{background-position:-576px -800px;}
.collectibles_522{background-position:-608px -800px;}
.collectibles_523{background-position:-0px -832px;}
.collectibles_524{background-position:-32px -832px;}
.collectibles_525{background-position:-64px -832px;}
.collectibles_526{background-position:-96px -832px;}
.collectibles_527{background-position:-128px -832px;}
.collectibles_528{background-position:-160px -832px;}
.collectibles_529{background-position:-192px -832px;}
.collectibles_530{background-position:-224px -832px;}
.collectibles_531{background-position:-256px -832px;}
.collectibles_532{background-position:-288px -832px;}
.collectibles_533{background-position:-320px -832px;}
.collectibles_534{background-position:-352px -832px;}
.collectibles_535{background-position:-384px -832px;}
.collectibles_536{background-position:-416px -832px;}
.collectibles_537{background-position:-448px -832px;}
.collectibles_538{background-position:-480px -832px;}
.collectibles_539{background-position:-512px -832px;}
.collectibles_540{background-position:-544px -832px;}
.collectibles_541{background-position:-576px -832px;}
.collectibles_542{background-position:-608px -832px;}
.collectibles_543{background-position:-0px -864px;}
.collectibles_544{background-position:-32px -864px;}
.collectibles_545{background-position:-64px -864px;}
.collectibles_546{background-position:-96px -864px;}
.collectibles_547{background-position:-128px -864px;}
.collectibles_548{background-position:-160px -864px;}
.collectibles_549{background-position:-192px -864px;}
.collectibles_550{background-position:-224px -864px;}
.collectibles_551{background-position:-256px -864px;}
.collectibles_552{background-position:-288px -864px;}
.collectibles_553{background-position:-320px -864px;}
.collectibles_554{background-position:-352px -864px;}
.collectibles_555{background-position:-384px -864px;}
.collectibles_556{background-position:-416px -864px;}
.collectibles_557{background-position:-448px -864px;}
.collectibles_558{background-position:-480px -864px;}
.collectibles_559{background-position:-512px -864px;}
.collectibles_560{background-position:-544px -864px;}
.collectibles_561{background-position:-576px -864px;}
.collectibles_562{background-position:-608px -864px;}
.collectibles_563{background-position:-0px -896px;}
.collectibles_564{background-position:-32px -896px;}
.collectibles_565{background-position:-64px -896px;}
.collectibles_566{background-position:-96px -896px;}
.collectibles_567{background-position:-128px -896px;}
.collectibles_568{background-position:-160px -896px;}
.collectibles_569{background-position:-192px -896px;}
.collectibles_570{background-position:-224px -896px;}
.collectibles_571{background-position:-256px -896px;}
.collectibles_572{background-position:-288px -896px;}
.collectibles_573{background-position:-320px -896px;}
.collectibles_574{background-position:-352px -896px;}
.collectibles_575{background-position:-384px -896px;}
.collectibles_576{background-position:-416px -896px;}
.collectibles_577{background-position:-448px -896px;}
.collectibles_578{background-position:-480px -896px;}
.collectibles_579{background-position:-512px -896px;}
.collectibles_580{background-position:-544px -896px;}
.collectibles_581{background-position:-576px -896px;}
.collectibles_582{background-position:-608px -896px;}
.collectibles_583{background-position:-0px -928px;}
.collectibles_584{background-position:-32px -928px;}
.collectibles_585{background-position:-64px -928px;}
.collectibles_586{background-position:-96px -928px;}
.collectibles_588{background-position:-128px -928px;}
.collectibles_589{background-position:-160px -928px;}
.collectibles_590{background-position:-192px -928px;}
.collectibles_591{background-position:-224px -928px;}
.collectibles_592{background-position:-256px -928px;}
.collectibles_593{background-position:-288px -928px;}
.collectibles_594{background-position:-320px -928px;}
.collectibles_595{background-position:-352px -928px;}
.collectibles_596{background-position:-384px -928px;}
.collectibles_597{background-position:-416px -928px;}
.collectibles_598{background-position:-448px -928px;}
.collectibles_599{background-position:-480px -928px;}
.collectibles_600{background-position:-512px -928px;}
.collectibles_601{background-position:-544px -928px;}
.collectibles_602{background-position:-576px -928px;}
.collectibles_603{background-position:-608px -928px;}
.collectibles_604{background-position:-0px -960px;}
.collectibles_605{background-position:-32px -960px;}
.collectibles_606{background-position:-64px -960px;}
.collectibles_607{background-position:-96px -960px;}
.collectibles_608{background-position:-128px -960px;}
.collectibles_609{background-position:-160px -960px;}
.collectibles_610{background-position:-192px -960px;}
.collectibles_611{background-position:-224px -960px;}
.collectibles_612{background-position:-256px -960px;}
.collectibles_614{background-position:-288px -960px;}
.collectibles_615{background-position:-320px -960px;}
.collectibles_616{background-position:-352px -960px;}
.collectibles_617{background-position:-384px -960px;}
.collectibles_618{background-position:-416px -960px;}
.collectibles_619{background-position:-448px -960px;}
.collectibles_621{background-position:-480px -960px;}
.collectibles_622{background-position:-512px -960px;}
.collectibles_623{background-position:-544px -960px;}
.collectibles_624{background-position:-576px -960px;}
.collectibles_625{background-position:-608px -960px;}
.collectibles_626{background-position:-0px -992px;}
.collectibles_627{background-position:-32px -992px;}
.collectibles_628{background-position:-64px -992px;}
.collectibles_629{background-position:-96px -992px;}
.collectibles_631{background-position:-128px -992px;}
.collectibles_632{background-position:-160px -992px;}
.collectibles_633{background-position:-192px -992px;}
.collectibles_634{background-position:-224px -992px;}
.collectibles_635{background-position:-256px -992px;}
.collectibles_636{background-position:-288px -992px;}
.collectibles_637{background-position:-320px -992px;}
.collectibles_638{background-position:-352px -992px;}
.collectibles_639{background-position:-384px -992px;}
.collectibles_640{background-position:-416px -992px;}
.collectibles_641{background-position:-448px -992px;}
.collectibles_642{background-position:-480px -992px;}
.collectibles_643{background-position:-512px -992px;}
.collectibles_644{background-position:-544px -992px;}
.collectibles_645{background-position:-576px -992px;}
.collectibles_646{background-position:-608px -992px;}
.collectibles_647{background-position:-0px -1024px;}
.collectibles_649{background-position:-32px -1024px;}
.collectibles_650{background-position:-64px -1024px;}
.collectibles_651{background-position:-96px -1024px;}
.collectibles_652{background-position:-128px -1024px;}
.collectibles_653{background-position:-160px -1024px;}
.collectibles_654{background-position:-192px -1024px;}
.collectibles_655{background-position:-224px -1024px;}
.collectibles_656{background-position:-256px -1024px;}
.collectibles_657{background-position:-288px -1024px;}
.collectibles_658{background-position:-320px -1024px;}
.collectibles_659{background-position:-352px -1024px;}
.collectibles_660{background-position:-384px -1024px;}
.collectibles_661{background-position:-416px -1024px;}
.collectibles_663{background-position:-448px -1024px;}
.collectibles_664{background-position:-480px -1024px;}
.collectibles_665{background-position:-512px -1024px;}
.collectibles_667{background-position:-544px -1024px;}
.collectibles_668{background-position:-576px -1024px;}
.collectibles_669{background-position:-608px -1024px;}
.collectibles_670{background-position:-0px -1056px;}
.collectibles_671{background-position:-32px -1056px;}
.collectibles_672{background-position:-64px -1056px;}
.collectibles_673{background-position:-96px -1056px;}
.collectibles_674{background-position:-128px -1056px;}
.collectibles_675{background-position:-160px -1056px;}
.collectibles_676{background-position:-192px -1056px;}
.collectibles_677{background-position:-224px -1056px;}
.collectibles_678{background-position:-256px -1056px;}
.collectibles_679{background-position:-288px -1056px;}
.collectibles_680{background-position:-320px -1056px;}
.collectibles_681{background-position:-352px -1056px;}
.collectibles_682{background-position:-384px -1056px;}
.collectibles_683{background-position:-416px -1056px;}
.collectibles_684{background-position:-448px -1056px;}
.collectibles_685{background-position:-480px -1056px;}
.collectibles_686{background-position:-512px -1056px;}
.collectibles_687{background-position:-544px -1056px;}
.collectibles_688{background-position:-576px -1056px;}
.collectibles_689{background-position:-608px -1056px;}
.collectibles_690{background-position:-0px -1088px;}
.collectibles_691{background-position:-32px -1088px;}
.collectibles_692{background-position:-64px -1088px;}
.collectibles_693{background-position:-96px -1088px;}
.collectibles_694{background-position:-128px -1088px;}
.collectibles_695{background-position:-160px -1088px;}
.collectibles_696{background-position:-192px -1088px;}
.collectibles_697{background-position:-224px -1088px;}
.collectibles_698{background-position:-256px -1088px;}
.collectibles_699{background-position:-288px -1088px;}
.collectibles_700{background-position:-320px -1088px;}
.collectibles_701{background-position:-352px -1088px;}
.collectibles_702{background-position:-384px -1088px;}
.collectibles_703{background-position:-416px -1088px;}
.collectibles_704{background-position:-448px -1088px;}
.collectibles_705{background-position:-480px -1088px;}
.collectibles_706{background-position:-512px -1088px;}
.collectibles_707{background-position:-544px -1088px;}
.collectibles_708{background-position:-576px -1088px;}
.collectibles_709{background-position:-608px -1088px;}
.collectibles_710{background-position:-0px -1120px;}
.collectibles_711{background-position:-32px -1120px;}
.collectibles_712{background-position:-64px -1120px;}
.collectibles_713{background-position:-96px -1120px;}
.collectibles_714{background-position:-128px -1120px;}
.collectibles_715{background-position:-160px -1120px;}
.collectibles_716{background-position:-192px -1120px;}
.collectibles_717{background-position:-224px -1120px;}
.collectibles_719{background-position:-256px -1120px;}
.collectibles_720{background-position:-288px -1120px;}
.collectibles_721{background-position:-320px -1120px;}
.collectibles_722{background-position:-352px -1120px;}
.collectibles_723{background-position:-384px -1120px;}
.collectibles_724{background-position:-416px -1120px;}
.collectibles_725{background-position:-448px -1120px;}
.collectibles_726{background-position:-480px -1120px;}
.collectibles_727{background-position:-512px -1120px;}
.collectibles_728{background-position:-544px -1120px;}
.collectibles_729{background-position:-576px -1120px;}
.collectibles_730{background-position:-608px -1120px;}
.collectibles_731{background-position:-0px -1152px;}
.collectibles_732{background-position:-32px -1152px;}
